/**
* @name Comfy
* @author Nyria#3863
* @description Stay comfy while talking to your friends
* @invite rtBQX5D3bD
* @version 2.1
* @donate https://ko-fi.com/nyria
*/

@import "https://nyri4.github.io/Comfy/betterdiscord/main.css";

/* ═══════『 ⚠️・Important tips 』═══════
*
*   ➥ To comment or uncomment a line you need to put those "/" and "*" characters as you can see at the beginning and ending of my comments.
*      (You don't need to put a * at each line like I do, it's just for readability). See more here : https://developer.mozilla.org/en-US/docs/Web/CSS/Comments
*
*   ➥ You can play with the values and see how it goes, don't delete "px" after the value if you don't have knowledges in CSS.
*
*   ➥ To change the colors, replace the HEX code with the one you picked here : https://htmlcolorcodes.com
*/

/* ═══════『 🚫 ・ No scrollbars 』- Comment the line below if you want the scrollbar back */
@import "https://nyri4.github.io/Comfy/betterdiscord/no-scrollbar.css";

/* ═══════『 🎵 ・ Better SpotifyControls seek bar 』- Comment the line below if you want the scrollbar back */
@import "https://nyri4.github.io/Comfy/betterdiscord/better-spotify.css";

:root { 

/* ═══════『 💨 ・ Animations 』- If you don't want a high CPU usage, comment the line below */
--disable-animations: 2s channel-unread infinite;

/* ═══════『 🖼️ ・ Background in the status picker 』═══════
*
*   ➥ Image : Replace the url of the current image with yours
*
*   ➥ Color : Delete the url("https://mywebsite/example.png") and replace it by an HEX color
*
*   ℹ️ : This background isn't and cannot be linked to the new Nitro banners or USRBG 
*/

--status-background: url('https://i.imgur.com/fzNMgXW.jpeg');

/* ═══════『 ⚙️ / 🎤 / 🎧 ・ User button 』═══════
*
*   ➥ A higher value will means more space between the icons and a lower ...
*
*    ℹ️ : If you want to revert those to the old area, join the support server and check #css-snippets
*
*/

/* Spacing - Default value : 8px */
--user-buttons-spacing: 8px;

/* Color - Default value : #096DC0 */
--user-buttons-color: #51AFFF;

/* ═══════『 ⭕ Roundness settings 』═══════
*
*    ➥ A higher value will means more rounded corners and a lower ...
*       0 ➜ Square
*       25 ➜ Circle
*/

/* Avatars - Default value : 5px */
--avatar-radius: 10px;  

/* Status - Default value : 3px */
--status-radius: 6px; 

/* Servers - Default value : 8px */
--server-radius: 10px;

/* ═══════『 😃 Colored emoji picker 』═══════
*   Change the value to "100%" if you want the default one */

--colored-emoji: grayscale(0%);

/* ═══════『 📜 Server/channel list 』═══════ */

/* Mention - Default value : #F04747 */
--mention-color: #FF6C6B;

/* Unread - Default value : #7289DA */
--unread-color: #5699AF;

/*  『 🔴 Mention colors in chat 』 */

/* Bar on the right - Default value : #C66262 */
--mention-color-bar: #C66262;

/* Background - Default value : #C662621F */
--mention-color-background: #C662621F;

/* On hover - Default value : #C6626226 */
--mention-color-hover: #C6626226;

/* ═══════『 💬 Chat buttons 』═══════ */

/* Default value : #7289DA */
--chat-buttons: #9CA0A4;

/* ═══════『 💬 SpotifyControls seek bar 』═══════
*   ℹ️ : If you don't have the plugin : https://betterdiscord.app/plugin/SpotifyControls */

/* Default value : #1EDC62 */
--spotify-color: #1EDC62;

/* ═══════『 🟢 Status 』═══════ */

/* Online - Default value : #43B581 */
--online: #98BE65;

/* Iddle - Default value : #FAA61A */
--iddle: #ECBE7B;

/* Do Not Disturb - Default value : #F04747 */
--dnd: #FF6C6B;

/* Offline - Default value : #747F8D */
--offline: #747F8D;

/* Streaming - Default value : #593695 */
--streaming: #A9A1E1;

/* ═══════『 🔰 Role circle in user popout 』═══════
*   Default value : 5px */

--role-circle: 10px;

/* ═══════『 🗑️ Discord logo 』═══════
*   Set it to "block" if you still want it */

--discord-logo: none;

}
 
.theme-dark {
    --background-primary: #282C34;
    --background-secondary: #23272E;
    --background-secondary-alt: #202328;
    --background-tertiary: #282C34;
    --background-mobile-primary: #23283D;
    --background-mobile-secondary: #1E2233;
    --channeltextarea-background: #3F444A;
    --background-accent: #C678DD;
    --background-message-hover: #1B2229;
    --background-modifier-hover: #00000010;
    --background-modifier-active: #0000001a;
    --background-modifier-selected: #0000001f;
    --deprecated-card-bg: #12141F63;
    --background-floating: #23272E;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191F2E;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: pink;
    --text-normal: #BBC2CF;
    --header-primary: #DFDFDF;
    --interactive-active: #4DB5BD;
    --channels-default: #9CA0A4;
    --brand-experiment: #46D9FF;
}
 
.theme-light {
    --background-primary: #23283D;
    --background-secondary: #1E2233;
    --background-secondary-alt: #191F2E;
    --background-tertiary: #101320;
    --background-accent: #7289DA;
    --background-modifier-hover: #262B41;
    --background-modifier-active: #262B41;
    --header-primary: #FFF;
    --header-secondary: #B1B5B9;
    --text-normal: #8E9297;
}
